.listado{
	width: 50%;
	float: left;
}

.fileLoader{
	width: 45%;
	float: right;
}

.rowSongAlt{
	background-color: #E0E0EF
}

.rowSong,.rowSongAlt{
	cursor: pointer;
}

.rowSong:hover,.rowSongAlt:hover{
	background-color: #F5F5F5
}

.playing{
	color: #FF0000
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.my-drop-zone { 
	border: dotted 3px lightgray; 
}
.nv-file-over { 
	border: dotted 3px red; 
} 
.another-file-over-class { 
	border: dotted 3px green; 
}

.delete{
	width:24px;
	height: 24px;
	cursor: pointer;
}