<!DOCTYPE html>
<html ng-app="redshark">
<head>
	<title>RedShark</title>
	<link rel="shortcut icon" href="img/red_shark_icon_64px.ico" />
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/directives/directivas.js"></script>
	<script type="text/javascript" src="js/services/servicios.js"></script>
	<script type="text/javascript" src="js/controllers/redshark.js"></script>
	
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/buttons.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/flat-ui.css" />
</head>
<body ng-controller="reproductor">

	<div class="panel">
		<div class="panel-body">
			<div style="width:400px;text-align: center;">
				<button ng-click="previous()" class="previous"></button>
				<button ng-click="play()" class="play" ng-hide="isPlaying"></button>
				<button ng-click="pause()" class="pause" ng-show="isPlaying"></button>
				<button ng-click="next()" class="next"></button>
				
				<audio id="audio_tag" ng-src="{{current_songFile}}">
					<!-- <source ng-repeat="song in songs" ng-src="{{song.file}}" type="audio/mpeg"/> -->
				</audio>
			</div>
			<div class="progress" style="width:400px;">
			  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			  	{{shoCurrentTime}}
			  </div>
			</div>
		</div>
	</div>

	<div class="listado">
		<table class="table">
			<tr>
				<th>Titulo</th>
				<th>Artista</th>
				<th>Album</th>
			</tr>
			<tr ng-repeat="song in songs" 
				ng-class="{'rowSong': ($index%2)!=0,'rowSongAlt': ($index%2)==0, 'playing': song.playClass}">
				<td>{{song.title}}</td>
				<td>{{song.artist}}</td>
				<td>{{song.album=='Default'?'':song.album}}</td>
			</tr>
		</table>
	</div>
	<div class="fileLoader">

	</div>
</body>
</html>