<!DOCTYPE html>
<html ng-app="redshark">
<head>
	<title>RedShark</title>
	<link rel="shortcut icon" href="img/red_shark_icon_64px.ico" />
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/directives/directivas.js"></script>
	<script type="text/javascript" src="js/directives/angular-file-upload.js"></script>
	<script type="text/javascript" src="js/services/servicios.js"></script>
	<script type="text/javascript" src="js/controllers/redshark.js"></script>
	
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/buttons.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/flat-ui.css" />
</head>
<body ng-controller="reproductor">

	<div class="panel">
		<div class="panel-body">
			<div style="width:400px;text-align: center;">
				<button ng-click="previous()" class="previous"></button>
				<button ng-click="play()" class="play" ng-hide="isPlaying"></button>
				<button ng-click="pause()" class="pause" ng-show="isPlaying"></button>
				<button ng-click="next()" class="next"></button>
				
				<audio id="audio_tag" ng-src="{{current_songFile}}">
				</audio>
			</div>
			<div style="width:500px">
				<div style="float:left;width:50px;margin-top: -9px;text-align: center;">{{showCurrentTime}}</div>
				<div class="progress" style="width:400px;cursor: pointer;float:left;"  ng-click="setCurrentTime($event)">			  	
					<!-- <div style="z-index:1000px;color:#FF0404"></div> -->
					<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
					</div><img src="img/positionslider.png" style="margin-top:-20px;">
				</div>
				<div style="float:left;width:50px;margin-top: -9px;text-align: center;">{{duration}}</div>				
			</div>
		</div>
	</div>

	<div class="listado">
		<input type="text" ng-model="filtro" placeholder="Buscar" class="form-control">
		<table class="table noselect">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Artista</th>
					<th>Album</th>
				</tr>
        	</thead>
        	<tbody style="height:40%;overflow-y: scroll;">
				<tr ng-repeat="song in songs | filter: filtro" 
					ng-class="{'rowSong': ($index%2)!=0,'rowSongAlt': ($index%2)==0, 'playing': song.playClass}"
					ng-dblclick="playSong($index)">
					<td>{{song.title}}</td>
					<td>{{song.artist}}</td>
					<td>{{song.album=='Default'?'':song.album}}</td>
				</tr>			
			</tbody>
		</table>
	</div>
	<div class="fileLoader">
		<div ng-show="uploader.isHTML5">
            <div nv-file-drop="" uploader="uploader">
                <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
					<input type="file" nv-file-select="" uploader="uploader" multiple  accept=".mp3" />
                    <!-- Coloca las canciones aqui... -->
                </div>
            </div>
        </div>

        <table class="table"><!--  ng-show="uploader.queue.length>0" -->
        	<tr>
        		<th>Archivo</th>
        		<th></th>
        	</tr>
        	<tr ng-repeat="item in uploader.queue" 
				ng-class="{'rowSong': ($index%2)!=0,'rowSongAlt': ($index%2)==0}">
				<td>
					{{item.file.name}}
				</td>
				<td>
					<img src="img/success.png" ng-show="item.isSuccess">
					<img src="img/delete.png" ng-hide="item.isSuccess" class="delete" ng-click="deleteFile(item)">
				</td>
			</tr>
        </table> 

        <button class="btn btn-primary" ng-click="uploader.uploadAll()">Cargar</button>
	</div>
</body>
</html>
<red-alert></red-alert>